.container {
    background-color: #b4b4b4;
    height: auto;
}

.top-panel {
    background: url("../assets/images/background-pattern.jpg") repeat 0 0;
    border-radius: 3px 3px 0 0;
    padding: 0px 8px 8px 8px;
    color: #2FABEB;
    margin-bottom: 30px;
}

.graph-panel {
    height: 400px;
    padding: 10px 10px 20px 60px;
}

button {
    margin: auto 0;
}

#jxgbox-1 {
    display: inline-block;
    width: 300px;
    height: 125px;
    border: 1px;
    border-color: black;
    background: url("../assets/images/background-pattern.jpg") repeat 0 0;
}

#jxgbox-2 {
    margin-top: 9px;
    width: 304px;
    height: 304px;
}

.jxgbox-top {
    margin-top: 5px;
    margin-bottom: 20px;
}

.jxgbox-bot {
    margin-top: 42px;
}

.jxgbox-top, .jxgbox-bot {
    height: 134px;
    width: 158px;
}

.ctr-btn {
    width: 140px;
    margin-bottom: 7px;
    font-weight: 600;
}

.ctr-btn:hover {
    color: white;
    background-color: #2FABEB;
}

.btn-sm {
    padding: 2px !important;
    width: 77px !important;
}

.sm-graph-col1 {
    padding-left: 45px;
}

.sm-graph-col2 {
    padding-left: 65px;
}

.form-select-sm {
    font-size: 0.575em !important;
    width: 110px;
}

.jxgbox.dashed, .jxgbox-bot.dashed, .jxgbox-top.dashed {
    border-radius: 0;
    border-color: #949494;
    border-width: 0.1em;
    border-style: dashed;
    background-color: #d0cfcf;
    overflow: visible !important;
}

.jxgbox {
    border-radius: 0;
    border: none;
    position: relative;
    background-color: #f3f3f3;
}

.sampleBtn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 40px;
    padding-left: 10px;
    margin: 8px 1px 0;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    color: #fff;
    line-height: 48px;
    box-sizing: border-box;
    text-align: center;
}

.disabled {
    background: #444 linear-gradient(#333, #555);
    color: #aaa;
    opacity: 0.5;
    pointer-events: none;
}

.active {
    background: #2fabeb;
    cursor: pointer;
}

.done {
    background: #ccd7dd;
    cursor: pointer;
    color: #444;
}

.samples {
    width: 100%;
    border-bottom: 4px solid #2fabeb;
    padding-left: 10px;
}

.sampleData .labelInput {
    width: 165px;
    height: 22px;
    margin: 10px 0 0 5px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    background: transparent;
    border-bottom: 2px solid #2fabeb;
    font-size: 20px;
    color: #bcbcbc;
}

.sampleData .sampleIdLabel {
    margin: 5px 0 0 5px;
    font-size: 14px;
    color: #2fabeb;
    font-weight: 600;
}

.sampleBtn::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 9px;
    height: 23px;
    margin: auto;
    background: url("../assets/images/sampleIcon.png") no-repeat;
    background-size: auto;
    background-size: 100%;
}

.xAxis {
    position: absolute;
    width: 346px;
    height: 30px;
    background: no-repeat top left;
}

.yAxis {
    position: absolute;
    width: 46px;
    height: 346px;
    background: no-repeat top left;
}

.xAxis.linear {
    left: 8px;
    bottom: 31px;
    background-image: url("../assets/images/xAxisBigLinear.png");
}

.yAxis.linear {
    left: -35px;
    top: 0px;
    background-image: url("../assets/images/yAxisBigLinear.png");
}

.xAxis.exp {
    left: 5px;
    bottom: 31px;
    background-image: url("../assets/images/xAxisBigExp.png")
}

.yAxis.exp {
    right: 386px;
    top: 2px;
    background-image: url("../assets/images/yAxisBigExp.png")
}

.yAxis.count {
    left: -16px;
    top: 2px;
    background-image: url("../assets/images/yAxisBigCount.png");
}

.xAxisSm {
    position: absolute;
    width: 180px;
    height: 30px;
    background: no-repeat top left;
}

.yAxisSm {
    position: absolute;
    width: 45px;
    height: 160px;
    background: no-repeat top left;
}

.xAxisSm.linear {
    left: -2px;
    bottom: -30px;
    background-image: url("../assets/images/xAxisSmallLinear.png");
}

.yAxisSm.linear {
    left: -43px;
    top: -4px;
    background-image: url("../assets/images/yAxisSmallLinear.png");
}

.xAxisSm.exp {
    left: -6px;
    bottom: -30px;
    background-image: url("../assets/images/xAxisSmallExp.png")
}

.yAxisSm.exp {
    left: -23px;
    bottom: -22px;
    background-image: url("../assets/images/yAxisSmallExp.png")
}

.yAxisSm.count {
    left: -27px;
    top: -3px;
    background-image: url("../assets/images/yAxisSmallCount.png");
}

#xLabelMain {
    bottom: 15px;
    right: 105px;
    left: 20px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #5f5f5f;
}

#yLabelMain {
    left: -41px;
    font-size: 20px;
    position: absolute;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #5f5f5f;
    transform: rotate(-90deg);
    bottom: 205px;
    transform-origin: 13px 17px;
}

#xLabel1 {
    bottom: -32px;
    right: 46px;
    left: 20px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #5f5f5f;
}

#yLabel1 {
    left: -49px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #5f5f5f;
    transform: rotate(-90deg);
    bottom: 57px;
    transform-origin: 15px 15px;
}

.xlabelSm {
    bottom: -32px;
    right: 46px;
    left: 20px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #5f5f5f;
}

.ylabelSm {
    left: -49px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    margin: auto;
    font-weight: bold;
    color: #5f5f5f;
    transform: rotate(-90deg);
    bottom: 57px;
    transform-origin: 15px 15px;
}

.axesPopup {
    position: absolute;
    background-color: #e8e8e8;
    border: 1px solid #7e7e7e;
    border-radius: 1px;
    z-index: 2;
    padding-top: 5px;
    display: none;
}

/* .arrow {
    position: absolute;
    top: 187px;
    left: 467px;
    background: #e6e6e6;
} */

.axesPopupMain {
    top: 110px;
    left: 192px;
    width: 163px;
    height: 90px;
}

.axesPopup1 {
    top: 28px;
    left: 126px;
    width: 163px;
    height: 90px;
}

.axesPopup2 {
    top: 28px;
    left: 126px;
    width: 163px;
    height: 90px;
}

.axesPopup3 {
    top: 28px;
    left: 126px;
    width: 163px;
    height: 90px;
}

.axesPopup4 {
    top: 28px;
    left: 126px;
    width: 163px;
    height: 90px;
}

.axesPopup .xAxisText {
    font-size: 18px;
    font-weight: bold;
    color: #727272;
    margin-left: 8px;
}

.axesPopup .btnCreate {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    cursor: pointer;
    margin-left: 8px;
}

.graphContainer {
    position: relative;
}

.graphContainersm {
    width: 186px;
    height: 134px;
}

.graphBtnContainerMain {
    width: 78px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.graphContainer .close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 0;
    background: url("../assets/images/close-graph.png") no-repeat 0 0;
    border: none;
    cursor: pointer;
    display: none;
}

.graphContainer .close.small {
    position: absolute;
    top: 0px;
    right: 8px;
    width: 20px;
    height: 20px;
    padding: 0;
    background: url("../assets/images/close-graph.png") no-repeat 0 0;
    border: none;
    cursor: pointer;
    display: none;
}

.graphContainer .close:hover {
    background-position: 0 -20px;
}

.filter {
    width: 60px;
    position: relative;
    min-height: 28px;
}

.filterLabelFSC {
    position: absolute;
    top: 2px;
    width: 45px;
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #30acec;
    color: #fff;
}

.filterLabelSSC {
    position: absolute;
    top: 30px;
    width: 45px;
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #30acec;
    color: #fff;
}

.filterLabelGreen {
    position: absolute;
    top: 58px;
    width: 45px;
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #30acec;
    color: #fff;
}

.filterLabelOrange {
    position: absolute;
    top: 86px;
    width: 45px;
    padding: 2px 0;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 2px solid #30acec;
    color: #fff;
}

.feedback {
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.feedbackcontents {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #ec5151;
    width: 40%;
    position: relative;
    min-height: 23%;
}

.feedbackcontents button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #D85050;
    border: 2px solid #D85050;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.feedbackcontents button:hover {
    background-color: #f8f8f8;
    color: black;
}

.feedbackcontents p {
    margin-bottom: 4rem;
}

.datacontrol-container {
    border-right: 2px solid #454545;
    border-left: 2px solid #454545;
    text-align: center;
}

.controltitle {
    margin-bottom: 12px;
    font-size: 17px;
    color: #2fabeb;
    text-align: center;
}

.filtertitle {
    margin-bottom: 12px;
    font-size: 17px;
    color: #2fabeb;
}

.voltage {
    position: absolute;
    top: 7px;
    font-size: 10px;
    font-weight: bold;
    color: #2fabeb;
    margin-top: 15px;
    text-align: center;
    width: 388px;
}

.sliderLabel {
    margin: 0px 0px 0px 10px;
    font-weight: 600;
}